[Desktop Entry]
Version=1.0.1
Type=Application
Name=freetimemaker-cat
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/freetimemaker-cat.desktop /snap/bin/freetimemaker-cat
Icon=/snap/freetimemaker-cat/current/meta/gui/icon.png
Terminal=false
Categories=Games;